<app-navbar></app-navbar>

<div class="container">
  <section class="home-section" style="margin-top: -700px;">
    <div class="home-content">
     <div class="container">
      <div class="row text-center row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ornament Sales</h5>
              <p class="card-text"><i class='bx bx-coin-stack' ></i></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Category List</h5>
              <p class="card-text"><i class='bx bx-category'></i></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Purchase</h5>
              <p class="card-text"><i class='bx bx-purchase-tag-alt'></i></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Reports</h5>
              <p class="card-text"><i class='bx bxs-report' ></i></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sales Order</h5>
              <p class="card-text"><i class='bx bx-list-ul' ></i></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Saving Schemes</h5>
              <p class="card-text"><i class='bx bxs-bank' ></i></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Accounts</h5>
              <p class="card-text"><i class='bx bxs-user-account'></i></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Settings</h5>
              <p class="card-text"><i class='bx bx-cog' ></i></p>
            </div>
          </div>
        </div>
        <div class="col">
         <div class="card container" style="padding: 10px">
          <div class="row row-cols-1 row-cols-md-2 g-2">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Customer</h5>
                  <p class="card-text"><i class='bx bx-user'></i></p>
                </div>
              </div>
            </div>
           <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Supplier</h5>
                <p class="card-text"><i class='bx bx-user-plus'></i></p>
              </div>
            </div>
           </div>
          </div>
         </div>
        </div>
      </div>
     </div>
    </div>
  </section>
</div>

  <div class="modal fade" id="gsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Daily Gold Silver Price Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="goldpricetoday" class="form-label">Gold Price: </label>
          <input type="text" class="form-control" id="gpricetoday" placeholder="100.25 (Enter price directly)">
        </div>
        <div class="mb-3">
          <label for="silverpricetoday" class="form-label">Silver Price: </label>
          <input type="text" class="form-control" id="spricetoday" placeholder="100.25 (Enter price directly)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

