<table>
<tr>

    <th>ItemName Description</th>
    <th>HSN Code</th>
    <th>HU ID</th>
    <th>Tag Name</th>
    <th>GrWeight Grams</th>
    <th>Making Charges</th>
    <th>Making Direct</th>
    <th>Wastage Charges</th>
    <th>Wastage Direct</th>
    <th>V_A</th>
    <th>Stone Type</th>
    <th>Stone Pieces CTS</th>
    <th>Stone RsPs</th>
    <th>Discount RsPs</th>
    <th>Amount RsPs</th>
    <th>Barcode</th>
    <th>Branch</th>
    <th>Active Status</th>
    <th> Action</th>
    <th>print barcode</th>

</tr>
<tr *ngFor="let product of products" >
    <td>{{product.ItemName_Description}}</td>
    <td>{{product.HSNCode}}</td>
    <td>{{product.HUID}}</td>
    <td>{{product.TagName}}</td>
    <td>{{product.GrWeight_Grams}}</td>
    <td>{{product.Making_Charge}}</td>
    <td>{{product.Making_Direct}}</td>
    <td>{{product.Wastage_Charge}}</td>
    <td>{{product.Wastage_Direct}}</td>
    <td>{{product.V_A}}</td>
    <td>{{product.Stone_Type}}</td>
    <td>{{product.Stone_Pieces_CTS}}</td>
    <td>{{product.Stones_RsPs}}</td>
    <td>{{product.Discount_RsPs}}</td>
    <td>{{product.Amount_RsPs}}</td>
    <td>{{product.BarCode}}</td>
    <td>{{product.Branch}}</td>
    <td>{{product.ActiveStatus}}</td>
    <td>
      <button type="submit" (click)="seeSingleProduct(product.BarCode)" data-bs-toggle="modal" data-bs-target="#productListEditModal" class="btn btn-primary peditPL-Btns">Edit</button>
      <button type="submit" (click)="deleteProduct(product.HSNCode,product.HUID)" class="btn btn-danger">Delete</button></td>
      <button type="submit">print barcode</button>
</tr>

</table>


<!-- Edit Modal -->
<div class="modal fade" id="productListEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Product Details</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row row-cols-1 row-cols-md-4 text-center">
            <div class="mb-3 col">
              <label for="carat-type" class="form-label">Carat Type:</label>
              <select class="form-control"  (change)="getCaratValue($event)">
                <option value="">-- Select Carat --</option>
                <option value="22K">22K</option>
                <option value="18K">18K</option>
                <option value="silver">Silver</option>
              </select>
            </div>
            <div class="mb-3 col">
              <label for="category-name" class="form-label">Category</label>
              <select class="form-control" (change)="getCategoryValue($event)">
                <option value="">--Select Category--</option>
                <option *ngFor="let item of categories" [ngValue]="categories.CategoryID">{{item.CategoryName}}</option>
              </select>
            </div>
            <div class="mb-3 col">
              <label for="subcategory-name" class="form-label">Sub Category</label>
              <select class="form-control" (change)="getSubCategoryValue($event)">
                <option value="">--Select Sub-Category--</option>
                <option *ngFor="let item of categories" [ngValue]="categories.CategoryID">{{item.CategoryName}}</option>
              </select>
            </div>
            <div class="mb-3 col">
              <label for="item-name" class="form-label">Item Name</label>
              <input type="text" class="form-control" [(ngModel)]="itemname" ngModel required name="item-name">
            </div>
            <div class="mb-3 col">
              <label for="huid" class="form-label">HUID</label>
              <input type="text" class="form-control" [(ngModel)]="huid" ngModel required name="huid">
            </div>
            <div class="mb-3 col">
              <label for="hsncode" class="form-label">HSN Code</label>
              <input type="text" class="form-control" [(ngModel)]="hsncode" ngModel required name="hsncode">
            </div>
            <div class="mb-3 col">
              <label for="tagno" class="form-label">Tag Name</label>
              <input type="text" class="form-control" [(ngModel)]="tagname" ngModel required name="tgnumber">
            </div>
            <div class="mb-3 col">
              <label for="gramweight" class="form-label">Gram Weight</label>
              <input type="number" min="0" class="form-control" [(ngModel)]="gramweight" ngModel required
                name="gramweight">
            </div>
            <div class="mb-3 col">
              <label for="netweight" class="form-label">Net Weight</label>
              <input type="number" min="0" class="form-control" [(ngModel)]="netweight" ngModel required name="netweight">
            </div>
            <div class="mb-3 col">
              <label for="making-charge" class="form-label">Making Charge:</label>
              <select class="form-control" (change)="getMcValue($event)">
                <option value="">--Select type--</option>
                <option value="percentage">Percentage</option>
                <option value="amount">Amount</option>
              </select>
            </div>
            <div class="mb-3 col">
              <label for="makingdirect" class="form-label">Making Direct:</label>
              <input type="number" min="0" class="form-control" [(ngModel)]="mcvalue" ngModel (change)="mgcalculate()" required name="mcvalue">
            </div>
            <div class="mb-3 col">
              <label for="wastage-charge:" class="form-label">Wastage Charge:</label>
              <select class="form-control" (change)="getWcValue($event)">
                <option value="">--Select type--</option>
                <option value="percentage">Percentage</option>
                <option value="amount">Amount</option>
              </select>
            </div>
            <div class="mb-3 col">
              <label for="wastagedirect" class="form-label">Wastage Direct:</label>
              <input type="number" min="0" class="form-control" [(ngModel)]="wcvalue" ngModel required (change)="wdcalculate()" name="wcvalue">
            </div>
            <div class="mb-3 col">
              <label for="value" class="form-label">V.A</label>
              <input type="number" min="0" class="form-control" [(ngModel)]="vavalue" ngModel required name="vavalue">
            </div>
            <div class="mb-3 col">
              <label for="wastage-charge:" class="form-label">Stone Type:</label>
              <select class="form-control" (change)="getStoneType($event)">
                <option value="">-- Select Stone Type --</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="mb-3 col">
              <label for="stone" class="form-label">Stone Pieces/CTS:</label>
              <select class="form-control" (change)="getStone($event)">
                <option value="">-- Select --</option>
                <option value="pieces">Pieces</option>
                <option value="cts">CTS</option>
              </select>
            </div>
            <div class="mb-3 col" *ngIf="isVisible">
              <label for="stonepieces" class="form-label">Stone Pieces.:</label>
              <input type="number" min="0" class="form-control" [(ngModel)]="stonepieces" ngModel required (change)="stonecalculate()" name="stonepieces">
            </div>
            <div class="mb-3 col">
              <label for="stoneRs" class="form-label">Stone Rs.</label>
              <input type="number" min="0" class="form-control" [(ngModel)]="stoneRs" (change)="stonecalculate()" ngModel required name="stoneRs">
            </div>
            <div class="mb-3 col">
              <label for="discountRs" class="form-label">Discount Rs.</label>
              <input type="number" min="0" class="form-control" [(ngModel)]="discountRs" ngModel required (change)="calculate()" name="discountRs">
            </div>
            <div class="mb-3 col">
              <label for="amountRs" class="form-label">Amount Rs.</label>
              <input type="number" min="0" class="form-control" [(ngModel)]="amountRs" ngModel required name="amountRs">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
