<div class="stock-form" id="formdetails">
    <form #stockform = "ngForm" action="">
        <h1 id="item">Add your Product details</h1>
        <div class="fields">
            <div class="input-fields">
                <label for="carat-type">Carat Type:
               <select (change)="getCaratValue($event)">
                    <option value="">-- Select Carat --</option>
                    <option value="24K">24K</option>
                    <option value="22K">22K</option>
                    <option value="18K">18K</option>
                    <option value="silver">Silver</option>
                </select>
                </label>
            </div>
            <div class="input-fields">
                <label for="category">Category:
               <select  (change)="getCategoryValue($event)">
                    <option value="">--Select Category--</option>
                    <option *ngFor="let item of categories" [ngValue]="categories.CategoryID">{{item.CategoryName}}</option>
                </select>
                </label>
            </div>
            <div class="input-fields">
                <label for="subcategory">Sub-Category:
               <select (change)="getSubCategoryValue($event)">
                    <option value="">Select Sub-Category</option>
                    <option *ngFor="let item of categories" [ngValue]="categories.CategoryID">{{item.CategoryName}}</option>
                </select>
                </label>
            </div>
            <div class="input-fields">
                <label for="item-name">Item Name:
                    <input type="text" placeholder="Item Name" [(ngModel)]="itemname" name="item-name"  ngModel required></label><br>
            </div>
            <div class="input-fields">
                <label for="huid">HUID:
                    <input type="text" placeholder="HUID" [(ngModel)]="huid" name="huid"  ngModel required ></label><br>
            </div>
            <div class="input-fields">
                <label for="hsncode">HSN Code:
                    <input type="text" placeholder="HSN Code" [(ngModel)]="hsncode" name="hsncode"  ngModel required ></label><br>
            </div>
            <div class="input-fields">
                <label for="tagno">Tag No. :
                    <input type="text" placeholder="Tag Number" [(ngModel)]="tgnumber" name="tgnumber"  ngModel required ></label><br>
            </div>
            <div class="input-fields">
                <label for="barcodeprefix">Barcode Prefix:
                    <input type="text" placeholder="Barcode Prefix" [(ngModel)]="barcode" name="barcode"  ngModel required ></label><br>
            </div>
            <div class="input-fields">
                <label for="gramweight">Gram Weight:
                    <input type="text" placeholder="Gram Weight" [(ngModel)]="gramweight" name="gramweight"  ngModel required></label><br>
            </div>
            <div class="input-fields">
                <label for="netweight">Net Weight:
                    <input type="text" placeholder="Net Weight" [(ngModel)]="netweight" name="netweight"  ngModel required></label><br>
            </div>
            <div class="input-fields">
                <label for="ratepergram">Rate Per Gram:
                    <input type="text" placeholder="Rate Per Gram" [(ngModel)]="ratepergram" name="ratepergram"  ngModel (change)="calculate()" readonly></label><br>
            </div>
            <div class="input-fields">
                <label for="making-charge">Making Charge:
                    <select (change)="getMcValue($event)">
                        <option value="">--Select type--</option>
                        <option value="percentage">Percentage</option>
                        <option value="amount">Amount</option>
                    </select>
                </label>
            </div>
            <div class="input-fields">
                <label for="makingdirect">Making Direct:
                    <input type="text" placeholder="Making Charge" [(ngModel)]="mcvalue" name="mcvalue"  ngModel (change)="mgcalculate()" required></label><br>
            </div>
            <div class="input-fields">
                <label for="wastagecharge">Wastage Charge:
                    <select (change)="getWcValue($event)">
                        <option value="">--Select type--</option>
                        <option value="percentage">Percentage</option>
                        <option value="amount">Amount</option>
                    </select>
                </label>
            </div>
            <div class="input-fields">
                <label for="wastagedirect">Wastage Direct:
                    <input type="text" placeholder="Wastage Charge" [(ngModel)]="wcvalue" name="wcvalue"  ngModel (change)="wdcalculate()" required></label><br>
            </div>
            <div class="input-fields">
                <label for="va">V.A:
                    <input type="text" placeholder="V.A" [(ngModel)]="vavalue" name="vavalue"  ngModel required></label><br>
            </div>
            <div class="input-fields">
                <label for="stonetype">Stone Type:
                    <select (change)="getStoneType($event)">
                        <option value="">-- Select Stone Type --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </label>
            </div>
            <div class="input-fields">
                <label for="stone">Stone Pieces/CTS:
                    <select (change)="getStone($event)">
                        <option value="">-- Select --</option>
                        <option value="pieces">Pieces</option>
                        <option value="cts">CTS</option>
                    </select>
                </label>
            </div>
            <div class="input-fields"  *ngIf="isVisible">
                <label for="stonepieces">Stone Pieces.:
                    <input type="text" placeholder="Stone Pieces." [(ngModel)]="stonepieces" name="stonepieces"  ngModel (change)="stonecalculate()" required></label><br>
            </div>
            <div class="input-fields">
                <label for="stoneRs">Stone Rs.:
                    <input type="text" placeholder="Stone Rs." [(ngModel)]="stoneRs" name="stoneRs"  ngModel (change)="stonecalculate()" required></label><br>
            </div>
        </div>
        <!-- <input type="submit" (click)="submit_product" value="submit"> -->
        <a class="btn btn-dark" (click)="submit_product()">Add</a>
    </form>
    <!-- {{stockform.value | json }} -->
</div>